<h2>Edit This Blog Post</h2>

<!-- The f block param is called a form builder
     it will help us build our form.
     f is aware that a Post has a:
      - title
      - content
     -->
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <p style="color:red;">
      All posts require a title and content.
    </p>
  <% end %>
  
  <div>
    <%= f.label :title %> <!-- Generated an html label element. -->
    <br>
    <%= f.text_field :title %> <!-- Generate an input element for the title. -->
  </div>
  <div>
    <%= f.label :content %>
    <br>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit "Update Blog Post" %>
  </div>
<% end %>